<?xml version="1.0"?>

<launch>
        <!-- 颜色ID参数 -->
        <arg name="id" default="1" />
        <arg name="color" default="red" />
    
    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <rosparam file="$(find pointcloud_to_laserscan)/config/icra_config.yaml" command="load"  subst_value="true"/>
        <rosparam>
          
        </rosparam>
        <!-- <remap from="cloud_in" to="cloud_in"/> -->
        <remap from="scan" to="scan_3d"/>


    </node>

</launch>
